<h1>My Notes</h1>
<table>
  <tr>
    <th>Name:</th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= link_to note.name, user_note_path(@user, note) %></td>
    <td><%= link_to 'Edit Note', edit_user_note_path(@user, note) %></td>
    <td><%= link_to 'Delete Note', user_note_path(@user, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_user_note_path %>
