<div class="appointment-div">
  <div class="row text-center form-group">
    <h1><span class="cursive large orange">Thank you!</span>    <%= image_tag("tara.png") %></h1>
    <h1 class="bright-green">I can not wait to speak with you.</h1>
  </div>
  <div class="col-xs-12 diet-question-div text-center">
    <div class="diet-text-div">
      <h2 style="padding-left: 2%; padding-right: 2%"><p>I will email you a reminder to <%=@user.email%></p><p> 1 hour before our meeting.</p><p>If you would prefer a text reminder,</p><p> please enter your number here:</p></h2>  
    </div>
  </div>
  <div class="row light-green-div text-center">
    <div class="col-xs-12">
      <h3 style="padding-left: 2%; padding-right: 2%"class="green"><p>Remember to be in a quiet, well lit area</p><p> with your webcam enabled computer at the time of our meeting.</p></h3>
    </div>

  </div>
</div>
