<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title green" id="myModalLabel">Good <span class="cursive orange" style="font-size: 40px">health</span> starts at <span class="cursive orange" style="font-size: 40px">home</span>  !</h1>
      </div>
      <div class="modal-body">
        <div class="row" style="margin-bottom: -10%">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <%= image_tag("tara.png", class: "img-responsive") %>
          </div>
          <div class="col-xs-9 text-center">
            <h4>It helps me to know who you are eating with. </h4>
            <div class="orange-background" style="border-radius: 15px; padding: 1%">  
            <h2 style="color: white">Did you enter everybody in your family? </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none; margin-top: 5%">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>