<div id="carousel-example-generic" class="carousel slide carousel-off-screen form-group" data-ride="carousel" data-interval="false">
<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div id="new-html-0" class="new_html_code"></div>
      <div class="carousel-caption orange-background" style="border-radius: 50px; width: 450px">
        <%= render "current_user_form", f: f %>
      </div>
    </div>

    <% (1..10).each do |i| %>
    <div class="item">
      <div id="new-html-<%=i%>" class="new_html_code"></div>
      <div class="carousel-caption">
        <%= render "new_member_form", f: f, i: i %>
      </div>
    </div>
    <% end %>

  </div>
  <div class="left carousel-control indicators-div">
    <div class="indicators-column col-xs-12">
      <ul id="new-indicators-1" class="new-indicators">
      </ul>
    </div>
    <div id="start-with-you" class="text-center btn-circle" style="background: white; font-size: 20px; line-height: 1.5; margin-top: 50%">
      <div style="margin-top: 15%">
        <p class="green">Let's start</p> 
        <p class="green">with <span class="cursive">you</span></p>
      </div>
    </div>
  </div>


  <a id="carousel-next-button" class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <div class="add-member-button-text text-center">
      <h4>Add</br>Family</br>Member</h4>
      <%= image_tag("add_users_large.png", class: "img-responsive") %>
    </div>
  </a>
</div> <!-- carousel example generic -->