<% @notes.each do |note| %>
  <h3><%= link_to note.name, user_note_path(@user, note) %></h3>
  <% max_length = 300 %>
  <% content = note.content %>
  <% preview = content.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= max_length);ob << (" " + x)}.strip %>
  <p>
    <%= preview %>
    <% if content.length > max_length %>
      <%= '...' %>
    <% end %>
  </p>
<% end %>

<%= link_to root_path(anchor: 'notes') do %>
  <button id="new" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-pencil"></span> New
  </button>
<% end %>
