    <div class="modal fade" id="rdModal" tabindex="-1" role="dialog" aria-labelledby="rdModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title text-center" id="myModalLabel">What is a <span class="bright-green" >KindRD</span><span class="orange">Nutritionist</span>?</h3>
          </div>
          <div class="modal-body">
            <p>
              Every KindRDNutritionist is an Academy of Nutrition and Dietetics Registered Dietitian (RD), the same RD's that you find in leading hospitals across the globe. They've graduated from top universities and are active members of their professional communities.  What makes a KindRDNutrionist special is their passion for:</p>
              <ul>
                <li>Improving access to expert health care</li>
                <li>Providing both medical and practical nutritional guidance</li>
                <li>Bridging the gap between provider care and how people eat at home</li>  
              </ul>
              <p>
                Each KindRDNutritionist is certified in all standard areas of nutrition, as well as their own areas of expertise, such as food allergies, or diabetes management. 
            </p>
            <p>
              Our mission is to make it easier for you to learn what you need to know and have access to the tools and products that you need so you can focus on enjoying great, tasty food!
            </p>
            <div class="row" >
              <div class="col-xs-2">
                <%#= image_tag("ncca.png", :class=> "img-responsive", :style=> "height:75px" )%>
              </div>
              <div class="col-xs-4">
                <%#= image_tag("academy.png", :class=> "img-responsive", :style=> "height:60px" )%>
              </div>
              <div class="col-xs-2">
                <%#= image_tag("dept_health.jpeg", :class=> "img-responsive", :style=> "height:75px" )%>
              </div>
              <div class="col-xs-4">
                <%#= image_tag("Servsafe.gif", :class=> "img-responsive", :style=> "height:75 px" )%>
              </div>
            </div>
          </div>
          <div class="modal-footer orange-background" >
            <button type="button" class="btn btn-default green-background close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>