<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="privacyModalLabel">Privacy Policy</h3>
      </div>
      <div class="modal-body row">
        <div class="col-xs-8">
          <p>
            Important stuff
          </p>
          <ul>
            <li>safe</li>
            <li>secure</li>
            <li>awesome</li>  
          </ul>
          <p>
            Honesty
          </p>
          <p>
           Policy
          </p>
        </div>
      </div>
      <div class="modal-footer orange-background">
        <button type="button" class="btn btn-default green-background close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>