<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">Meet Tara McCarthy</h3>
      </div>
      <div class="modal-body row">
        <div class="col-xs-4 text-center">
          <div class="col-xs-12 form-group">
            <%= image_tag("tara.png") %>
          </div>
          <div class="col-xs-12 form-group">
            <p>Tara McCarthy </p>
            <p>RDN, LDN</p>
          </div>
        </div>
        <div class="col-xs-8">
          <p>
            Tara has a family, a career, and passions.
          </p>
          <ul>
            <li>list of awesomeness</li>
            <li>shes cool</li>
            <li>she rocks</li>  
          </ul>
          <p>
            more stuff
          </p>
          <p>
           even more
          </p>
        </div>
      </div>
      <div class="modal-footer orange-background">
        <button type="button" class="btn btn-default green-background close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>