<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title text-center" id="myModalLabel">Coming Soon!</h3>
      </div>

      <div class="modal-footer orange-background">
        <button type="button" class="btn btn-default green-background close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>