<div class="container">
  <div class="row text-center">
    <%= image_tag "logo.png", class: "img-responsive" %>
  </div>
	<div class="row">
		<div class="col-xs-12 survey-page">
	    <div class="col-xs-12 col-sm-12 col-md-6 col-g-6">
	      <h3 style="color: white">Let's get ready for your appointment! </h3> 
	        <p>Filling out this questionnaire will help your Registered Dietitian Nutritionist provide an efficient adn effective appointment.  The information you provide will not be shared, so please be open and honest.</p>
	        <p><b>This should only take a few minutes, thanks for your time!</b></p>
	    </div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-g-6" style="margin-bottom: 2%">
				<iframe src="https://docs.google.com/a/kindrdfood.com/forms/d/1AdPPjiDEisTOo5TX-41e-af37e8K0iMW_4_6yWvj4yU/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
			<div class="row text-center" style="margin-bottom: -5%">
				<h3 style="color: white">Please Scroll to the Bottom of the Form to Complete</h3>
			</div>
		</div>
	</div>
</div>