    <div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title text-center" id="connectionModalLabel">Experiencing a poor connection?</h3>
          </div>
          <div class="modal-body">
            <div class="col-xs-12 text-center form-group">
              <div class="col-xs-4">
                <h3 style="margin-top: 50%" class="cursive orange">Sorry for the inconvenience</h3>
              </div>
              <div class="col-xs-8">
                <%= image_tag("Confused-kid.jpg", class: "img-responsive") %>
              </div>
            </div>
            <p>
              Thank you for helping us test our product during our Beta Release.  We are still working out some kinks and your feedback is extremely important to us.  Let's connect over the phone.
            </p>
            <h3 class="green">Please call us at (555)555-5555.</h3>
          </div>
          <div class="modal-footer orange-background" >
            <button type="button" class="btn btn-default green-background close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>