/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

$kindrdgreen: #48944B;
$kindrdorange: #E7854B;
$darkorange: #B96A3C;

html,
body {
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: $kindrdorange;
  border-color: $darkorange;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle {
  background-color: #a13b08;
  border-color: #983806;
}

.fa-twitter,
.fa-facebook,
.fa-pinterest {
  color: $kindrdorange;
}

textarea {
height: 150px;
width: 600px;
}

#logout {
  position: fixed;
  top: 0;
  margin: 5px 0 0 5px;
  z-index: 1;
}

/* Responsive */

@media (max-width: 768px) {

  .header {
  background: url(../assets/bg.jpg) no-repeat center center scroll;
  }

  .callout {
  background: url(../assets/callout.jpg) no-repeat center center scroll;
  }

  .map {
  height: 75%;
  }

}

/* Custom */
.emphasized {
  padding: 10px 0 10px 0;
  font-style: italic;
}

/* Mike */
input[type="text"] {
   height: 40px;
   width: 50%;
   border-color: rgba(241, 101, 33, 0.5);
   border-width: 5px;
   border-radius: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus{
  box-shadow: 0 1px 1px rgba(0, 147, 68, 1) inset, 0 0px 10px rgba(0, 147, 68, 1);
   border-color: rgba(0, 147, 68, 1);
}

input[type="email"]{
   height: 40px;
   width: 50%;
   border-color: rgba(241, 101, 33, 0.5);
   border-width: 5px;
   border-radius: 5px;
}

input[type="number"]{
   height: 40px;
   width: 50%;
   border-color: rgba(241, 101, 33, 0.5);
   border-width: 5px;
   border-radius: 5px;
}

input[type="password"]{
   height: 40px;
   width: 50%;
   border-color: rgba(241, 101, 33, 0.5);
   border-width: 5px;
   border-radius: 5px;
}

.survey-page {
  background-color: $kindrdorange;
  padding: 50px;
  border-radius: 5px;
}
