/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "font-awesome";

$kindrdgreen: #48944B;
$kindrdorange: #E7854B;
$darkorange: #B96A3C;

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.title {
  background-color:rgba(230,0,0,0.7);
  width: 100%;
  padding: 20px 0 20px 0;

  h1 {
    color: #ffffff;
  }

  h3 {
    color: #ffffff;
  }
}

#sidebar-wrapper {
  margin-right: -200px;
  right: 0;
  width: 200px;
  background: #7cca81;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  font-weight: bold;
}

.sidebar-nav li a {
  color: #181818;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #616161;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 200px;
  width: 200px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.btn-primary {
  background-color: $kindrdorange;
  border-color: $darkorange;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle {
  background-color: #a13b08;
  border-color: #983806;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#call {
  padding: 50px 0;
}

#notes {
  background: $kindrdgreen;
  padding: 50px 0;
  color: #ffffff;
}

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.fa-twitter,
.fa-facebook,
.fa-pinterest {
  color: $kindrdorange;
}

.logo {
  width: 40em;
  padding: 0 0 60px 0;
}

#index-notes {
  width: 50%;
  margin: 0 auto;

  h3, a {
    color: #ffffff;
  }

  p {
    text-align: left;
  }
}

#notes {
  input, textarea {
    color: #000;
  }
}

textarea {
height: 150px;
width: 600px;
}

#logout {
  position: fixed;
  top: 0;
  margin: 5px 0 0 5px;
  z-index: 1;
}

/* Responsive */

@media (max-width: 768px) {

  .header {
  background: url(../assets/bg.jpg) no-repeat center center scroll;
  }

  .callout {
  background: url(../assets/callout.jpg) no-repeat center center scroll;
  }

  .map {
  height: 75%;
  }

}

/* Custom */
.emphasized {
  padding: 10px 0 10px 0;
  font-style: italic;
}
