/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require jquery.ui.all
 *= require_self
 *= require bootstrap-datetimepicker
 *= require bootstrap_and_overrides
 */

@import "bootstrap";
@import "font-awesome";
@import 'bootstrap-datetimepicker';

$kindrdgreen: #48944B;
$kindrdorange: #E7854B;
$darkorange: #B96A3C;

html,
body {
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: $kindrdorange;
  border-color: $darkorange;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle {
  background-color: #a13b08;
  border-color: #983806;
}

.fa-twitter,
.fa-facebook,
.fa-pinterest {
  color: $kindrdorange;
}

textarea {
  height: 150px;
  width: 600px;
}

#logout {
  position: fixed;
  top: 0;
  margin: 5px 0 0 5px;
  z-index: 1;
}

#edit-profile {
  position: fixed;
  top: 0;
  margin: 5px 0 0 5px;
  z-index: 1;
}

/* Responsive */

@media (max-width: 768px) {

  .header {
  background: url(../assets/bg.jpg) no-repeat center center scroll;
  }

  .callout {
  background: url(../assets/callout.jpg) no-repeat center center scroll;
  }

  .map {
  height: 75%;
  }

}

/* Custom */
.emphasized {
  padding: 10px 0 10px 0;
  font-style: italic;
}

/* Mike */



.survey-page {
  background-color: $kindrdorange;
  padding: 50px;
  border-radius: 5px;
}

.popover{
  background-color: rgb(248,148,6);
  text-align: center;
}

